<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="game.SpringBoot.mybatis.mapper.QuestionMapper">
<!-- 自定义返回结果集 -->
   <resultMap id="questionMap" type="QuestionBean">
        <result property="subjectId"     column="subjectId"     javaType="java.lang.Integer"></result>
        <result property="questionIndex" column="questionIndex" javaType="java.lang.Integer"></result>
        <result property="score"         column="score"         javaType="java.lang.Integer"></result>
        <result property="content"       column="content"       javaType="java.lang.String"></result>
        <result property="answerType"    column="answerType"    javaType="java.lang.Integer"></result>
        <result property="answerCount"   column="answerCount"   javaType="java.lang.Integer"></result>
        <result property="answers"       column="answers"       javaType="java.lang.String"></result>
        <result property="weights"       column="weights"       javaType="java.lang.String"></result>
        <result property="nextQuestions" column="nextQuestions" javaType="java.lang.String"></result>
        <result property="analizer"      column="analizer"      javaType="java.lang.Integer"></result>
    </resultMap>
    
	<!-- 在各种标签中的id属性必须和接口中的方法名相同 ， id属性值必须是唯一的，不能够重复使用。parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型-->    
	<!-- useGeneratedKeys：（ 仅 对 insert 有 用 ） 这 会 告 诉 MyBatis 使 用 JDBC 的getGeneratedKeys 
	            方法来取出由数据（比如：像 MySQL 和 SQLServer 这样的数据库管理系统的自动递增字段）内部生成的主键。默认值： false。 -->    
	<!--keyProperty： （仅对 insert有用）标记一个属性， MyBatis 会通过 getGeneratedKeys或者通过 insert 语句的 selectKey 子元素设置它的值。默认：不设置。 -->
	<!--#{}中的内容，为占位符，当参数为某个JavaBean时，表示放置该Bean对象的属性值  -->


    <insert id="insertQuestion">
    	insert into subjects(subjectId,questionIndex,score,content,answerType,answerCount,answers,weights,nextQuestions,analizer) values(#{subjectId},#{questionIndex},#{score},#{content},#{answerType},#{answerCount},#{answers},#{weights},#{nextQuestions},#{analizer})
    </insert>
    
    <select id="findQuestionById" parameterType="int" resultMap="questionMap">
   		select subjectId,questionIndex,score,content,answerType,answerCount,answers,weights,nextQuestions,analizer from subjects where subjectId=#{subjectId} order by questionIndex
    </select>
</mapper>